extends ../layouts/hLayout.pug

block content
    div(id='hContent')
        div(id='registerFormHolder')
            div(id='registerForm')
                h1 Registration Form 
                div(id='formRow')
                    label(for="Username") Username:
                    input(type="text" size="15" id="Username" name="Username") 
                div(id='formRow')
                    label(for="Password") Password:
                    input(type="password" size="15" id="Password" name="Password") 
                div(id='formRow')
                    button(id="registerButton" onclick="register()") Register

    script(src="js/api.js") 