extends ../layouts/hLayout.pug

block content
    div(id='hContent')
        div(id='registerFormHolder')
            form(id='registerForm' onsubmit='return false')
                h1 Registration Form 
                div(class='formRow')
                    label(for="Username") Username:
                    input(type="text" size="15" id="Username" name="Username") 
                div(class='formRow')
                    label(for="Password") Password:
                    input(type="password" size="15" id="Password" name="Password") 
                div(class='formRow' id='RegisterButtonDiv')
                    input(type="submit", value="Register")
                div(id='badRegistration')
                    p The registration failed, there's already a user with that name.
    script(src="js/api.js") 