extends layouts/hLayout.pug

block content
    div(id='hHeader')
        h1 Knowgate Contacts
        p Contact: Cyanide#8020 on Discord or send an E-Mail to emptynonamegiven@gmail.com
    div(id='hContent')
        h2 What is Knowgate?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut lorem quis leo venenatis fringilla. Suspendisse at rutrum felis. Nullam ut magna quis quam tristique rhoncus. Duis sit amet blandit erat. Donec dapibus lacinia ligula sit amet placerat. Donec et nunc sed ligula sagittis efficitur eget a metus. Morbi a malesuada justo, ornare porta tellus. Duis rhoncus varius leo, ac congue lacus pretium eu. Cras at lectus ac lectus viverra fermentum at in lectus. Integer volutpat nisl ac felis posuere hendrerit. Duis in rutrum nunc.
        h2 How does it work?
        p Praesent feugiat ipsum id ipsum accumsan dapibus ut a dolor. Proin tortor justo, lobortis vel pellentesque a, sodales et neque. Sed ligula est, lobortis vel pretium dignissim, fringilla vitae neque. Praesent vestibulum, libero in accumsan finibus, purus nulla sollicitudin tortor, vel elementum dui nisi vitae tellus. Maecenas ullamcorper turpis semper, suscipit massa nec, accumsan justo. Phasellus ut tempor arcu, id venenatis massa. Cras semper augue nec velit condimentum, accumsan malesuada mi vestibulum. Nullam hendrerit lacus non elit tempor tempor. Proin justo quam, blandit sed tincidunt vel, malesuada vitae ante. Donec et varius lacus. In in risus in velit accumsan commodo.
        p Morbi vulputate, enim eu pretium semper, metus nulla sodales lacus, sit amet viverra leo est eu magna. Pellentesque interdum quis ipsum nec porta. Sed sagittis feugiat dolor eu varius. Etiam mi dui, pellentesque at risus a, tempus mollis mauris. Etiam cursus lorem lacinia sem efficitur, in tincidunt sapien aliquam. Praesent sodales, neque eget placerat gravida, mauris ex venenatis ex, ac semper purus orci a nisi. Nam semper ac eros quis tincidunt.
        h2 Is it ready?
        p Vestibulum elementum arcu libero, vel vehicula tellus vestibulum sit amet. Maecenas sit amet ultrices risus. Duis scelerisque vehicula congue. Donec elementum nisl in tincidunt sodales. Suspendisse ullamcorper quis nisi vel lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer ut consequat purus.