head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title KnowGate
  meta(name='description' content='The Freelancer Feedback Website.')
  meta(name='author' content='Altarium')
  meta(property='og:title' content='KnowGate')
  meta(property='og:type' content='website')
  link(href='/files/favicon-32x32.ico' rel='icon' type="image/x-icon")
  link(href='/css/style.css' rel='stylesheet' type='text/css')
h1 Knowgate