extends layouts/hLayout.pug

block content
    div(id='hHeader')
        h1 Knowgate
        p By the community, for the community!
    div(id='hContent')
        h2 I was here when this was finished 
        h2 I am happy with the result of my work.