/*
    Window information
*/

body {
    margin: 0;
    background: #202030;
    font-family: monospace;
    color: white;
}

/*
    Header Information
*/

/* Horizontal Header */

#hHeader {
    background-color: #505060;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

#hHeader h1 {
    font-size:xx-large;
}

#hHeader p {
    color: #C0C0F0;
    font-size: large;
}

/* Vertical Header */

#vHeader {
    background-color: #505060;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}

#vHeader h1 {
    font-size:xx-large;
}

#vHeader p {
    color: #C0C0F0;
    font-size: large;
}

/*
    Horizontal Navigation Bar
*/

#hNavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #334;
    position: fixed;
    top: 0;
    width: 100%;
}

#hNavbar li {
    float: left;
}

#hNavbar .rightbound {
    float: right;
} 
  
#hNavbar li a {
    display: block;
    color: #AAAAFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#hNavbar li a:hover:not(.active) {
    background-color: #101020;
}

/*
    Vertical Navbar - Useful for dashboard stuff
*/

#vNavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #334;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#vNavbar li a {
    display: block;
    color: #AAAAFF;
    padding: 8px 16px;
    text-decoration: none;
}
  
#vNavbar li a:hover:not(.active) {
    background-color: #101020;
    color: white;
}

#vNavbar .downbound {
    position: absolute;
    bottom: 0;
}

/*
    Content Information
*/

#vContent { /* VERTICAL NAVBAR CONTENT JUSTIFIER */
    margin-left:10%;
    padding:1px 16px;
    background-color: #202030;
    height:1500px;
}

#hContent { /* HORIZONTAL NAVBAR CONTENT JUSTIFIER */
    padding:20px;
    margin-top:30px;
    background-color: #202030;
    height:1500px;
}

/*
    Content Extra Stuff (for rendering purposes)
*/

#contentCell {
    /* Margins */
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    /* Padding */
    padding: 10px;
    /* Border Stuff */
    border: 2px solid #303040;
    border-radius: 5px;
    /* Coloration */
    background-color: #303040;
}

#contentCell h1 {
    margin-left: 1%;
}

#contentCell h2 {
    margin-left: 1%;
}

#contentCell h1 a {
    color: #AAAAFF;
}

#contentCell h2 a {
    color: #AAAAFF;
}

#contentCell a {
    margin-left: 1%;
    color: #AAAAFF;
}

#contentCell p {
    margin-left: 1%;
}

#extraContentCell {
    /* Margins */
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    /* Padding */
    padding: 10px;
    /* Border Stuff */
    border: 2px solid #252535;
    border-radius: 5px;
    /* Coloration */
    background-color: #252535;
}

#extraContentCell h4 {
    margin-left: 1%;
}

#extraContentCell p {
    margin-left: 1%;
}

/*
    Footer Information
*/
