extends ../layouts/vLayout.pug

block content 
    div(id='vContent')
        h1 View your profile
        p View your profile. That's about it.
        div(id='contentHolder')
    
    script(src="../js/api.js") 