extends ../layouts/vLayout.pug

block content 
    div(id='vContent')
        h1(id='a_H1') View All
        p(id='a_P') View All Things returned by the API
        div(id='contentHolder')
    
    script(src="../js/api.js") 