extends ../layouts/vLayout.pug

block content 
    div(id='vContent')
        h1 View One
        p View exactly one thing that is returned by the API.
        div(id='contentHolder')
    
    script(src="../../js/api.js") 